# Auto detect text files and normalise line endings
* text=auto

# Shell scripts always LF
*.sh text eol=lf
/backend/mvnw text eol=lf

# Windows scripts always CRLF
*.cmd text eol=crlf
*.bat text eol=crlf

# Binary files
*.jar binary
*.png binary
*.jpg binary
*.gif binary
*.ico binary
*.pdf binary
